/* Aplicar estilo a todo el documento */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Esquema de colores para modo claro y oscuro */
:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    display: grid; /* Estructura de grid en el body */
    place-content: center;
    height: 100vh; /* El body ocupa toda la altura de la pantalla */
    padding: 36px; /* Espaciado alrededor del contenido */
}

/* Contenedor principal del chat */
#chat {
    display: grid;
    grid-template-rows: 1fr auto; /* Dos filas: una para mensajes y otra para el formulario */
    width: 350px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; /* Ocultar contenido que sobresalga */
}

/* Contenedor de mensajes */
#messages {
    margin: 0; /* Sin margen exterior */
    padding: 16px;
    overflow-y: scroll; /* Scroll vertical para los mensajes */
    grid-row: 1 / 2; /* Primer fila del grid */
    scroll-behavior: smooth; /* Desplazamiento suave en el scroll */
    padding-bottom: 48px; /* Espacio extra al final para no pegar al borde */
}

/* Estilos para los mensajes individuales */
#messages > li {
    padding: 0.5rem 1rem; /* Espaciado dentro del mensaje */
    display: flex; /* Alineacion con flexbox */
    align-items: center; /* Centrar verticalmente */
}

/* Alternar fondo en los mensajes impares */
#messages > li:nth-child(odd) {
    background: #000;
}

/* Estilo del formulario de envio de mensajes */
#form {
    display: grid; /* Formulario dividido en columnas */
    grid-template-columns: 1fr auto; /* Input ocupa todo el espacio, boton lo necesario */
    gap: 8px; /* Separación entre input y boton */
    padding: 8px;
    grid-row: 2 / 3; /* Segunda fila del grid */
    background-color: #f1f1f1;
}

/* Estilo del input */
#input {
    grid-column: 1 / 2; /* El input ocupa la primera columna del grid */
    border-radius: 9999px; /* Bordes redondeados */
    border: 1px solid #eee;
    padding: 0 8px;
}

/* Quitar contorno cuando tenga el foco*/
#input:focus {
    outline: none;
}

/* Estilo del boton de envio */
#form > button {
    grid-column: 2 / 3; /* El boton ocupa la segunda columna del grid */
    background: #09f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
}

/* Efecto hover en el boton */
#form > button:hover {
    background: #0cf;
}
